<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Geolearn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Geolearn">
        <activity
            android:name=".feedback.FeedbackEditActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.FeedbackUserActivity"
            android:exported="false" />
        <activity
            android:name=".home.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.GuestMainMenuActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".home.MainMenuActivity" />
        <activity android:name=".game.QuizUIActivity" />
        <activity android:name=".game.FlashcardActivity" />
        <activity android:name=".game.FlashcardSelectionActivity" />
        <activity android:name=".game.GameAnalysisActivity" />
        <activity android:name=".game.GameCategoryActivity" />
        <activity android:name=".game.FlagGuessActivity" />
        <activity android:name=".profile.BookmarksActivity" />
        <activity android:name=".profile.ProgressDashboardActivity" />
        <activity android:name=".profile.SettingsActivity" />
        <activity android:name=".game.QuizResultActivity" />
        <activity android:name=".game.FlagResultActivity" />
        <activity android:name=".feedback.FeedbackActivity" />
        <activity android:name=".home.AboutActivity" />
        <activity
            android:name=".feedback.FeedbackHistory"
            android:exported="true"/>

    </application>

</manifest>